{
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "extends": ["airbnb-base", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "@typescript-eslint/indent": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/explicit-function-return-type": 2,
        "@typescript-eslint/no-explicit-any": 2,
        "@typescript-eslint/interface-name-prefix": 0,
        "prettier/prettier": 1,
        "import/extensions": 0,
        "import/prefer-default-export": 0,
        "import/no-unresolved": [2, { "ignore": [".$", ".types$"] }],
        "no-restricted-syntax": 0,
        "guard-for-in": 0,
        "semi": 2,
        "no-inline-comments": 1,
        "no-undef": 0,
        "no-console": [2, { "allow": ["info"] }],
        "class-methods-use-this": 0
    }
}
